# Scraping using Geocoding API of OpenStreet Maps(OSM)<br>
We will find address using web scrapping and using python

In [50]:
# import nominatim api
from geopy.geocoders import Nominatim

In [51]:
# activate nominatim geocoder
locator = Nominatim(user_agent = "http")
# type any address
location = locator.geocode("Sree Padmanabhaswamy Temple")

In [52]:
# get the latitide and longitude of the place
print(f'Address : {location.address}')
print(f'Latitude : {location.latitude}\nLongitude : {location.longitude}')

Address : Sree Padmanabhaswamy Temple, Padmavilasam Road, Padmanagar, Fort, Thiruvananthapuram, Kerala, 695001, India
Latitude : 8.482769950000002
Longitude : 76.94370162822179

In [53]:
# print all the information about ebtered address thtat the API has to offer
location.raw

{'boundingbox': ['8.482634', '8.4828919', '76.9434819', '76.9439228'],
 'class': 'amenity',
 'display_name': 'Sree Padmanabhaswamy Temple, Padmavilasam Road, Padmanagar, Fort, Thiruvananthapuram, Kerala, 695001, India',
 'icon': 'https://nominatim.openstreetmap.org/ui/mapicons//place_of_worship_unknown3.p.20.png',
 'importance': 0.30100000000000005,
 'lat': '8.482769950000002',
 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
 'lon': '76.94370162822179',
 'osm_id': 480106233,
 'osm_type': 'way',
 'place_id': 207363957,
 'type': 'place_of_worship'}

In [54]:
# location 2
my_college = locator.geocode("COllege Of Engineering Pune")
# get the latitide and longitude of the place
print(f'Address : {my_college.address}')
print(f'Latitude : {my_college.latitude}\nLongitude : {my_college.longitude}')

Address : College of Engineering, Pune, Old Pune–Mumbai Highway, Shivajinagar, Pune City, Pune District, Maharashtra, 411001, India
Latitude : 18.52930005
Longitude : 73.85682537025511

In [55]:
my_college.raw

{'boundingbox': ['18.5285846', '18.5315557', '73.8545636', '73.8586755'],
 'class': 'amenity',
 'display_name': 'College of Engineering, Pune, Old Pune–Mumbai Highway, Shivajinagar, Pune City, Pune District, Maharashtra, 411001, India',
 'icon': 'https://nominatim.openstreetmap.org/ui/mapicons//education_school.p.20.png',
 'importance': 0.7813885782638657,
 'lat': '18.52930005',
 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
 'lon': '73.85682537025511',
 'osm_id': 3718263,
 'osm_type': 'relation',
 'place_id': 283307234,
 'type': 'college'}

# Get the data - BBC Weather location service<br>
We will scrape the location ID of any place that we enter.

In [56]:
import os

import requests # get request from webpage
import json # convert API to json format

from urllib.parse import urlencode
import numpy as np
import pandas as pd
import re
from datetime import datetime

from bs4 import BeautifulSoup as bs

In [57]:
# Enter city name and convert url into compact form
city_name = "Pune"
location_url = 'https://locator-service.api.bbci.co.uk/locations?' + urlencode({'api_key': 'AGbFAKx58hyjQScCXIYrxuEwJh2W2cmv',
    'stack': 'aws',
    'locale': 'en',
    'filter': 'international',
    'place-types': 'settlement,airport,district',
    'order': 'importance',
    's': city_name.lower(),
    'a': 'true',
    'format': 'json'})
location_url

'https://locator-service.api.bbci.co.uk/locations?api_key=AGbFAKx58hyjQScCXIYrxuEwJh2W2cmv&stack=aws&locale=en&filter=international&place-types=settlement%2Cairport%2Cdistrict&order=importance&s=pune&a=true&format=json'

In [58]:
# convert url into json format
result_json = requests.get(location_url).json()
result_json

{'response': {'results': {'results': [{'container': 'India',
     'containerId': 1269750,
     'country': 'IN',
     'id': '1259229',
     'language': 'en',
     'latitude': 18.51957,
     'longitude': 73.85535,
     'name': 'Pune',
     'placeType': 'settlement',
     'timezone': 'Asia/Kolkata'},
    {'container': 'India',
     'containerId': 1269750,
     'country': 'IN',
     'id': '6452628',
     'language': 'en',
     'latitude': 18.58223,
     'longitude': 73.91988,
     'name': 'Pune Airport',
     'placeType': 'airport',
     'timezone': 'Asia/Kolkata'}],
   'totalResults': 2}}}

In [59]:
# we will get id from the results dictionary
result_json['response']['results']['results'][0]['id']

'1259229'

In [60]:
# create a function to get the id
def get_id(city):
    city = city.lower()
    location_url = 'https://locator-service.api.bbci.co.uk/locations?' + urlencode({'api_key': 'AGbFAKx58hyjQScCXIYrxuEwJh2W2cmv',
    'stack': 'aws',
    'locale': 'en',
    'filter': 'international',
    'place-types': 'settlement,airport,district',
    'order': 'importance',
    's': city,
    'a': 'true',
    'format': 'json'})
    city_url_json = requests.get(location_url).json()
    city_id = city_url_json['response']['results']['results'][0]['id']
    return city_id
city = "New Delhi"
city_id = get_id(city)
print(city_id)

1261481

In [61]:
# get the url from which we are going to scrape data

url = 'https://www.bbc.com/weather/' + city_id
#print(url)
response = requests.get(url)

Initiate Beautiful Soup

In [62]:
soup = bs(response.content, 'html.parser')
# we can get these class by inspecting the site
daily_high_values = soup.find_all(class_ = 'wr-day-temperature__high-value')
daily_low_values =  soup.find_all(class_ = 'wr-day-temperature__low-value')

# get gaily high temperature values
daily_high = []
for row in daily_high_values:
    high = row.span.text
    daily_high.append(high)
print(f'Daily High temperature is: {daily_high}')

# get daily low temperature values
daily_low = []
for row in daily_low_values:
    low = row.span.text
    daily_low.append(low)
print(f'Daily Low temperature is: {daily_low}')

Daily High temperature is: ['17° 63°', '19° 65°', '18° 65°', '20° 68°', '21° 70°', '22° 71°', '21° 70°', '19° 67°', '19° 66°', '19° 66°', '19° 65°', '19° 66°', '19° 67°', '20° 67°']
Daily Low temperature is: ['7° 44°', '6° 43°', '7° 44°', '8° 47°', '9° 48°', '9° 49°', '11° 51°', '9° 49°', '8° 46°', '7° 44°', '6° 43°', '6° 43°', '6° 43°', '6° 43°']

In [63]:
daily_high[0].strip().split()[0]

'17°'

In [64]:
daily_high = [i.strip().split()[0] for i in daily_high]
print(f'Daily High temperature(°C) is: {daily_high}')

daily_low = [i.strip().split()[0] for i in daily_low]
print(f'Daily Low temperature(°C) is: {daily_low}')

Daily High temperature(°C) is: ['17°', '19°', '18°', '20°', '21°', '22°', '21°', '19°', '19°', '19°', '19°', '19°', '19°', '20°']
Daily Low temperature(°C) is: ['7°', '6°', '7°', '8°', '9°', '9°', '11°', '9°', '8°', '7°', '6°', '6°', '6°', '6°']

In [65]:
# find summary
daily_summary = soup.find('div', attrs={'class' : 'wr-day-summary'})
daily_summary.text

'Sunny and light windsSunny intervals and light windsSunny intervals and light windsSunny and a gentle breezeSunny intervals and light windsSunny intervals and light windsLight rain showers and light windsLight rain showers and light windsLight cloud and light windsSunny intervals and light windsSunny and light windsSunny and light windsSunny and light windsSunny and light winds'

In [66]:
# # print(type(summary))
# temp = ""
# # for i in range(summary):
# #     if

# Scrapping IMDB Data<br>
We will represent 250 list of movies in a tabular form using python.<br> We will use BeautifulSoup library to scrape data from web.

In [89]:
from bs4 import BeautifulSoup as bs

In [90]:
req = requests.get("https://www.imdb.com/chart/top/")

# convert to a beautiful soup object
soup = bs(req.content)

# Print out HTML
# adds indentation to the data and created it into standard HTML format
contents = soup.prettify()

In [91]:
movie_title = []
movie_year = []
movie_rating = []

Extract HTML Tag contents

In [92]:
# The movie name and year are nested under the parent class "chart full_width"
imdb_table = soup.find(class_ = "chart full-width")

In [93]:
# tag for name of movie
movie_title_column = imdb_table.find_all(class_ = "titleColumn")
#print(movie_title_column)

In [94]:
# tag for IMDB rating of movie
movie_rating_columns = imdb_table.find_all(class_ = "ratingColumn imdbRating")

In [95]:
# Extract the titles of movies from movie_title_column
for row in movie_title_column:
    title = row.a.text # extract the text from tag "a"
    movie_title.append(title)
#movie_title = list(movie_title)
len(movie_title)

250

In [96]:
movie_title[:10] # Movie

['The Shawshank Redemption',
 'The Godfather',
 'The Godfather: Part II',
 'The Dark Knight',
 '12 Angry Men',
 "Schindler's List",
 'The Lord of the Rings: The Return of the King',
 'Pulp Fiction',
 'The Good, the Bad and the Ugly',
 'The Lord of the Rings: The Fellowship of the Ring']

In [97]:
# Extract the year of the movir release
for row in movie_title_column:
    year = row.span.text # tag for movie year
    movie_year.append(year)

In [98]:
movie_year[:10] # Year

['(1994)',
 '(1972)',
 '(1974)',
 '(2008)',
 '(1957)',
 '(1993)',
 '(2003)',
 '(1994)',
 '(1966)',
 '(2001)']

In [99]:
# Extract the imbd rating
for row in movie_rating_columns:
    rating = row.strong.text # "strong" is tag for rating
    movie_rating.append(rating)

In [100]:
movie_rating[:10] # IMDB

['9.2', '9.1', '9.0', '9.0', '8.9', '8.9', '8.9', '8.8', '8.8', '8.8']

Merge all in a single data frame

In [101]:
movie_df = pd.DataFrame({"Movie Name" : movie_title, "Year of Release" : movie_year, "IMDB Rating" : movie_rating})
movie_df.head(10)

                                          Movie Name  ... IMDB Rating
0                           The Shawshank Redemption  ...         9.2
1                                      The Godfather  ...         9.1
2                             The Godfather: Part II  ...         9.0
3                                    The Dark Knight  ...         9.0
4                                       12 Angry Men  ...         8.9
5                                   Schindler's List  ...         8.9
6      The Lord of the Rings: The Return of the King  ...         8.9
7                                       Pulp Fiction  ...         8.8
8                     The Good, the Bad and the Ugly  ...         8.8
9  The Lord of the Rings: The Fellowship of the Ring  ...         8.8

[10 rows x 3 columns]

# Scrapping Wikipedia

In [102]:
# import wikipedia library
!pip install wikipedia
import wikipedia as wk

Requirement already satisfied: wikipedia in /usr/local/lib/python3.7/dist-packages (1.4.0)
Requirement already satisfied: requests<3.0.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from wikipedia) (2.23.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from wikipedia) (4.6.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.0.0->wikipedia) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.0.0->wikipedia) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.0.0->wikipedia) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.0.0->wikipedia) (1.24.3)

In [103]:
# search any keyword
print(wk.search("COEP"))

['College of Engineering, Pune', 'Sindhutai Sapkal', 'Anil Sahasrabudhe', 'Maharashtra', 'List of Indian engineering colleges before Independence', 'Prohibition in the United States', 'Community organizing', 'List of Maharashtra Government Engineering Colleges', 'Swayam', 'Thermo Fisher Scientific']

In [104]:
print(wk.search("COEP", results = 3))

['College of Engineering, Pune', 'Sindhutai Sapkal', 'Anil Sahasrabudhe']

In [105]:
print(wk.summary("College Of Engineering Pune"))

College of Engineering Pune (COEP), is an autonomous institute of the Government of Maharashtra, situated in Pune, Maharashtra, India. Established in 1854 it is the 3rd oldest engineering college in India, after IIT Roorkee (1847) and College of Engineering, Guindy, Chennai (1859). The students and alumni of College of Engineering, Pune are colloquially referred to as COEPians. It was the first technical institution in India to offer mechanical engineering.

In [106]:
print(wk.summary("College Of Engineering Pune", sentences = 2))

College of Engineering Pune (COEP), is an autonomous institute of the Government of Maharashtra, situated in Pune, Maharashtra, India. Established in 1854 it is the 3rd oldest engineering college in India, after IIT Roorkee (1847) and College of Engineering, Guindy, Chennai (1859).

In [107]:
# to get complete page
coep_page = wk.page("College Of Engineering Pune")
print(coep_page.content)

College of Engineering Pune (COEP), is an autonomous institute of the Government of Maharashtra, situated in Pune, Maharashtra, India. Established in 1854 it is the 3rd oldest engineering college in India, after IIT Roorkee (1847) and College of Engineering, Guindy, Chennai (1859). The students and alumni of College of Engineering, Pune are colloquially referred to as COEPians. It was the first technical institution in India to offer mechanical engineering.


== History ==

The college was one of the first few colleges established by the British to serve the Indian subcontinent. The foundation stone of the new college was laid by the Governor of Bombay, Sir Bartle Frere, who was to become the Vice-Chancellor of the University, on 5 August 1865. In June of the following year, Theodore Cooke M.A., was appointed the Principal. He went on to hold the office for next 28 years.

Initially, it was started on 16 December 1854, to train public works department (PWD) officials and was housed in three bungalows as the 'Poona Engineering and Mechanical School' to train subordinate officers for carrying out public works like buildings, dams, canals, railways and bridges. In July 1857, Henry Coke was given the charge of the institute. Admission was open to all, irrespective of nationality or caste. Good proficiency in English and basic knowledge of Mathematics were a prerequisite for getting admitted to the institute. The process of admission required that the aspiring candidate apply to the nearest government English school, to whom the entrance examination papers were handed over. The headmaster would take the examination on a date deemed convenient to him and submit the answer sheets to Henry Coke, the in-charge of the mechanical school. After examining the papers, Coke would notify the headmaster of the school with the names of candidates who were deemed fit for admission. Scholarships of ₹ 6 were offered per month after a period of six months of training in the mechanical school for fifteen students. The courses offered included Mathematics, Drawing, Surveying and levelling, building and construction and setting out works on the ground. The course would run for a period of two years.Later on, in the year 1864, the school became the "Poona Civil Engineering College". The number of courses were increased to include forestry and agricultural subjects, which led to its name being changed to Poona College of Science. The college was inaugurated at the new premises on 5 August 1865, at the hands of then governor Sir Bertel Ferre. It started a course in licensed and civil engineering (LCE) and trained masons and overseers. Later it secured affiliation to the Bombay university. The course was revised in 1886 and the minimum criteria required for admission was raised from Matriculation to the then Previous Examination.
In 1909, the LCE was converted into the BE degree and the first batch of students passed out in 1912. The name 'Government college of engineering, Pune' was taken up only in 1911. All non-engineering courses were stopped by 1911, transferring the Bachelor of Science degree to the Science Institute of Bombay and subsequently in the year 1911, the name was changed to the "Government College of Engineering, Poona".
The institution was initially affiliated to the University of Bombay (now Mumbai) for a degree of Licentiate in Civil Engineering known as LCE in 1858. The certificate course was converted into a degree course and the first class of the Bachelor of Engineering degree graduated in the year 1912. After the University of Poona (now Savitribai Phule Pune University) was established in 1948, the college became affiliated to the new university. In 1968, the three-year degree was extended to 4 years constituting 8 semesters.
In 2003, the institute was granted complete autonomy by the State Government of Maharashtra, thus giving it the freedom to set its own curriculum and manage its own finances. With permanent affiliation to the Savitribai Phule Pune University, the institute now is an autonomous engineering school. This has been the biggest change as far as pedagogy at COEP is concerned. The following years have seen a multitude of positive changes in administration and academic strategies. Many of these have been responsible for the growing innovation in project work of college students. The institute contends that its autonomy now grants it greater flexibility in dynamically changing its syllabus to suit the changing needs of the industry.
In a bid to boost research in engineering and postdoctoral research, the College of Engineering Pune (CoEP) is granted an additional campus on government land located in Nigdi Pradhikaran. Extended campus in Pradhikaran is having area of 40 acres.
In academic year 2020-21 institute also commenced full time degree course in management under faculty of Management.


== Campus ==


=== The Main Hall ===
The main hall is the present day administrative building of the College. It houses the Director, the Dean Academic Affairs, the Dean Student Affairs, the Gymkhana, the Examination cell and other various important administrative heads of the college. The original building was almost three floors tall with a base floor length of 18 meters and a width of 9 metres. The hall was recently refurbished and the inauguration of the restored heritage building (pictured below) took place on 24 March 2012 by Sharad Pawar, Minister of Agriculture, Government of India.


== Academics ==


=== Admissions ===


==== Undergraduate ====
Undergraduate admissions to the College of Engineering, Pune are competitive and are based on merit. Earlier admissions were based upon the percentage of science subjects' marks secured in Higher Secondary Certificate exam of Maharashtra state and later on the basis of marks scored in Maharashtra Common Entrance Test. However, at present the admissions are conducted on the basis of the marks secured in Maharashtra CET and HSC board combined. These admissions are conducted by the Directorate of Technical Education (DTE) through the Centralized Admission Process (CAP). Affirmative action programs exist for students belonging to socially and economically backward classes as stipulated in the Constitution of India and various statutes. There are programs for students from north-eastern India and Indian citizens from Kashmir. There are also programs for children of people working in Gulf countries, foreign nationals, foreign students and Person of Indian Origin (PIO) in the college. Non-Resident Indians can also apply for the courses. For the year 2015–16 this quota is applicable for admissions to Walchand College of Engineering, Sangli and Laxminarayan Institute of Technology. The reservations for different categories are based on the Government of India and Government of Maharashtra rules.
Reservations in seats are provided for SC (Schedule Caste), ST (Schedule Tribes), NT (Nomadic Tribes), OBC (Other Backward Classes), PH (Physically Handicapped) as well as female candidates. It has been included in the Guinness Book of world records, several admissions to direct second year of BTech course are also conducted for those candidates who have completed Diploma in Engineering at different polytechnic institutes in the state of Maharashtra. These admissions are conducted through the Centralized Admission Process (CAP) by DTE itself.


==== Postgraduate and Doctorate ====
Postgraduate admissions to the College of Engineering, Pune are also on merit basis. The M.tech admissions are on the basis of the Graduate Aptitude Test in Engineering (GATE) conducted by the seven old IITs and the IISc. Seat reservations are applicable as per the Government of Maharashtra rules.
The college also provides Doctor of Philosophy (PhD) programmes in various fields.
Department of Applied Sciences is recognised as PhD research centre by S.P. Pune University in the subjects of Environmental Sciences and Chemistry.


=== Rankings ===
COEP was ranked 15 among engineering colleges in India by Outlook India in 2019. The National Institutional Ranking Framework (NIRF) ranked it 50th in the engineering ranking in 2020 and 101-150 overall. It has been ranked number one among the top five government institutions in Atal Ranking of Institutions on Innovation Achievement (ARIIA) in 2020.


== Student life ==


=== MindSpark ===

MindSpark is the national level annual technical festival hosted by the college and established in 2007. The idea behind MindSpark originated from the need to unite various departmental level festivals that were scattered across the academic calendar. It features about 50 events across various disciplines of engineering and has been backed by the support of industrial sponsors who also associate with COEP for placement. This event is usually scheduled in an odd semester (around September) and is of 3 days (usually weekend).


=== Regatta ===

Regetta is an annual regatta hosted by the College of Engineering, Pune. Since its inception in 1928, it has showcased around 165 boats, notably the Eighter, which is one of the oldest boats. The 92nd edition of Regatta was held on 8 March 2020. Unlike a Regatta which means a collection of boat races, COEP Boat Club's Regatta is a show of various kinds of boats, kayaks, punts, shell boats and scull boats. The events in this show are Telematches, Kayak Ballet, Shell Games, Punt Formation, Mashaal Dance and the Arrow formation.


=== Cultural activities & Fests – Impressions ===

COEP participates in various cultural competitions like Firodiya Karandak, Purushottam Karandak, and  Mood Indigo (festival).
In 2016, COEP started its first ever Cultural Fest, Impressions, which is held every year in the 2nd week of December and lasts for 3 days. Impressions was formed as a platform "For the Artists, By the Artists", to provide opportunities for people from the fields of Dance, Music, Theater, Art, and Fashion to display their talent. The events span over six main modules, namely – Dance, Music, Arts and Crafts, Dramatics, Photography, and Writing.


=== Sesquicentenary celebrations ===
In 2004, COEP celebrated 150 years of its existence. The celebrations were marked by a visit by the Hon. Ex-President of India, Dr. APJ Abdul Kalam. A postage stamp to mark the 150th anniversary of the college was released.


=== Participation in Guinness World Records ===
The college has made three entries so far in the Guinness World Record books. It holds the record for "Most people skipping on the same rope", which still stands as the world record and "The longest painting by numbers"On 4 November 2012, 3248 people solved the Rubik's cube at the same time for breaking the Guinness world record for "Most number of people solving the Rubik's cube". It was previously held by IITB, where 937 students solved the puzzle within 30 minutes in March 2012.


=== Team Nemesis Racing (BAJA Competition) ===
Baja Competition is an event which comprises designing, fabricating, assembling an all-terrain four wheeler vehicle and running it on a specially prepared torturous track in a grueling competition for four hours.
The College team was declared the overall winner at the Baja SAE India contest 2013 held at Pithampur, near Indore at the National Automotive Testing and R&D Infrastructure Project. The team also won the Best Acceleration, the Raftaar award, Computer-aided engineering award, Best Build Quality, Endurance winner awards.
BAJA 2015 witnessed COEP starting at the pole position in the race consecutively for the fourth time by being the fastest vehicle. COEP received a total of following 9 awards in BAJA competition 2015, Overall-1st, Durability −1st, Acceleration-1st, Hill Climb-1st, Raftaar-1st, Innovation-2nd, CAE −2nd, Build Quality- 2nd, Safest Vehicle −2nd.
BAJA 2016 was held at Pithampur, Indore on 21 February 2016. COEP started at the pole position in the race consecutively for the fifth time by being the fastest vehicle. Out of the 14 award categories, COEP won 11 awards in BAJA competition 2016 retaining the Overall Championship.COEP team Nemesis won overall championship at BAJA 2017 competition creating a hat trick of records.  In the 10th edition of Mahindra BAJA, a total of 415 entries applied for the event from 185 colleges that participated at a virtual stage, out of which 150 teams were selected for m- BAJA, while 35 teams for eBAJA. In the final round or the endurance test, 118 teams participated in the competition which was held from 16 to 21 February 2017 at the NATRIP facility in Pithampur, Indore.  Out of the 12 award categories, COEP won 7 awards in BAJA competition 2017 retaining the Overall Championship.


=== COEP robotics team ===
COEP's Robotics Team is represented by the Robot Study Circle (RSC). The Club has industrial collaboration with Siemens PLM as a title sponsor, Janatics Pneumatics, Schmalz India, Pepperl & Fuchs, and Robolab Technologies. Members of RSC are members of the first ever institute student chapter of THE ROBOTICS SOCIETY established in India at College of Engineering Pune. The robotics team has a number of awards and in 2017 team won the national ABU Robocon, going on to represent India in International Robocon held at Tokyo, Japan. RSC placed 6th.


=== COEP Satellite team ===
The satellite team also known as CSAT is CoEP's satellite initiative. They successfully worked on project Swayam a 1-U picosatellite which was launched by ISRO on 22 June 2016.
After the successful launch of Swayam, CSAT is now working on its next mission: an experiment for alternate means of space travel with the help of solar sails.


== Notable alumni ==

Sir Mokshagundam Visvesvarayya (1861–1962), recipient of Bharat Ratna and Knighthood, eminent engineer and statesman
Thomas Kailath, emeritus professor of engineering at Stanford University, winner of the IEEE Shannon Award and US National Medal of Science
C. Kumar N. Patel, Vice Chancellor for Research at the University of California, Los Angeles, inventor of the carbon-dioxide laser, winner of the United States National Medal of Science
Baburao Govindrao Shirke, Founder of B. G. Shirke & Company
Nitin Paranjpe, President of the Foods & Refreshment Division of Unilever
Laxman Narasimhan, an Indian-American business executive, who is the chief executive of Reckitt Benckiser, having previously been chief commercial officer at PepsiCo.
Rajiv Bajaj, Managing Director of Bajaj Auto: One of the largest two-wheeler manufacturer in India
Sumant Moolgaokar, Padma Bhushan, he was an Indian industrialist, known as architect of Tata Motors. He was the chief executive of Tata Engineering and Locomotive Company (TELCO). He also remained Vice-Chairman of Tata Steel  and served as non-executive chairman of Maruti Suzuki.
Ramesh Raskar, Associate Professor at Massachusetts Institute of Technology, Director of MIT Media Lab's Camera Culture group and developer of a high-speed femto-camera that captures pictures of light.
Sandeep Johri, technology executive and serial entrepreneur, CEO of Tricentis
Vijay Kelkar, Padma Vibhushan, Advisor to the Finance Minister, Government of India in the rank of a Minister of State, Chairman, National Stock Exchange of India
Aravind Joshi, emeritus professor of Computer and Cognitive Science at the University of Pennsylvania.
Lila Poonawalla, Padma Shri, an Indian industrialist, philanthropist, humanitarian. First Woman Engineer graduating from the Mechanical stream.
Sanjay Govind Dhande, Padma Shri, an Indian engineer and educationist. He was director of the Indian Institute of Technology Kanpur.
Suhas V Patankar, pioneer in the field of computational fluid dynamics (CFD) and Finite volume method. Notable as the co-developer of the SIMPLE algorithm in the field of Computational Fluid Dynamics (CFD). He is currently a Professor Emeritus at the University of Minnesota.
Gaur Gopal Das, an Indian monk, motivational speaker and lifestyle coach.
Vikas Kharage, IAS, Principal Secretary to the Chief Minister of Maharashtra. 34th rank in the country and 1st in Maharashtra of 1994 batch. Recipient of 'COEP Abhiman' Alumni Award.


== Controversies ==


=== Land acquisition ===
In December 2005 the Pune Municipal Corporation asked the college for some of its land for road widening. This led to considerable outrage amongst students, and the issue was under heated debate. It was pointed out that the college was classified as a 'heritage complex' by the state government.


=== Renaming ===
1854–1870: Poona Engineering Class and Mechanical School1871–1911: Government Science College (Agriculture and Botany Classes)1911–2003: Government College of Engineering, Pune2003–2006: Pune Institute of Engineering and Technology2006 onwards: College of Engineering, Pune
In 2000, COEP claimed independence from the state government and was declared an autonomous institute in 2003. Considerable confusion ensued over a proposed name change from COEP to Pune Institute of Engineering and Technology (PIET) which was strongly opposed by alumni and students. The newly autonomous entity's name was rolled back to COEP in November 2005.


=== Road widening and flyover construction ===
The College was at loggerheads with the Pune Municipal Corporation over the proposed construction of a flyover in front of the college, that would not only deface the renovated Main Hall but would also encroach upon the College's premises. The College and its alumni were of the opinion that the flyover would not, in any way, decongest the traffic plying through that road. It also considered the flyover as serious danger to the safety of the pedestrians, including students, as it was not considered in the plan of the flyover. Many civic activists and organisations supported the College's opinion.


== See also ==
Government College of Engineering, Nagpur
Government College of Engineering, Amravati
Government College of Engineering, Aurangabad
Government College of Engineering, Chandrapur
Government College of Engineering, Karad
Shri Guru Gobind Singhji Institute of Engineering and Technology, Nanded
Government College Of Engineering And Research, Avasari Khurd


== References ==


== External links ==
College of Engineering, Pune – Our Official web site

In [108]:
# get url of page
print(coep_page.url)

https://en.wikipedia.org/wiki/College_of_Engineering,_Pune

In [109]:
# get title of page
print(coep_page.title)

College of Engineering, Pune

In [110]:
# get images of keyword
print(coep_page.images)

['https://upload.wikimedia.org/wikipedia/commons/2/27/Bust_of_Sir_Visvesvarayya_facing_the_College%27s_Main_building.jpg', 'https://upload.wikimedia.org/wikipedia/commons/a/a7/COEP_Date.JPG', 'https://upload.wikimedia.org/wikipedia/commons/4/4e/COEP_Main_building.JPG', 'https://upload.wikimedia.org/wikipedia/commons/c/ca/College_of_Engineering%2C_Pune_Auditorium_%28Stage_View%29.jpg', 'https://upload.wikimedia.org/wikipedia/commons/c/ca/People_at_83rd_Regatta.jpg', 'https://upload.wikimedia.org/wikipedia/commons/6/63/Pune_ShaniwarWada_DelhiGate.jpg', 'https://upload.wikimedia.org/wikipedia/commons/0/04/The_Mind-Spark_Champion%27s_Trophy.jpg', 'https://upload.wikimedia.org/wikipedia/en/f/f0/College_of_Engineering%2C_Pune_logo.jpg', 'https://upload.wikimedia.org/wikipedia/en/4/41/Flag_of_India.svg']

In [111]:
# the tables on the page will be stored as list
# and can be converttd by using pandas

coep_html = wk.page("College Of Engineering Pune").html().encode("UTF-8")
coep_html
import pandas as pd
coep_df = pd.read_html(coep_html)[4]
coep_df

                   0                                                  1
0  Palaces and forts  Shaniwar Wada Vishrambaug Wada Shinde Chhatri ...
1            Temples  Puneshwar Narayaneshwar Pataleshwar Kasba Gana...
2            Museums  Raja Dinkar Kelkar Museum Mahatma Phule Museum...
3              Parks  Bund Garden Rajiv Gandhi Zoological Park Shuny...
4             Others  Bal Gandharva Ranga Mandir Tilak Smarak Ranga ...

# Basic Pandas

In [112]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [113]:
excel_file = '/content/drive/MyDrive/Colab Notebooks/Diploma/Data Sets/IFCB2009_85.xlsx'
excel_file_df = pd.read_excel(excel_file)
excel_file_df.head()

              BANK          IFSC  ...           STATE    PHONE
0  LAXMI VILAS BANK  LAVB0000101  ...      TAMIL NADU        0
1  LAXMI VILAS BANK  LAVB0000102  ...      TAMIL NADU        0
2  LAXMI VILAS BANK  LAVB0000103  ...  ANDHRA PRADESH   252427
3  LAXMI VILAS BANK  LAVB0000104  ...      TAMIL NADU   242126
4  LAXMI VILAS BANK  LAVB0000105  ...      TAMIL NADU  2541287

[5 rows x 8 columns]

In [114]:
excel_file_df.shape

(601, 8)

In [115]:
excel_file_df['CITY 1'].value_counts()

CHENNAI            41
COIMBATORE         29
SALEM              22
ERODE              21
KARUR              21
                   ..
MANCHERIAL          1
BAGALKOT            1
JAYASHANKAR         1
PURBI SINGHBHUM     1
PONDICHERRY         1
Name: CITY 1, Length: 173, dtype: int64

In [116]:
locator = Nominatim(user_agent="http")
location = locator.geocode('CHENNAI')
print("Latitude = {}, Longitude = {}".format(location.latitude, location.longitude))

Latitude = 13.0836939, Longitude = 80.270186

# Scraping PDFs

In [ ]:
import os
!pip install tabula-py
import tabula
import urllib.request
from urllib.parse import urljoin
url = 'https://www.premierleague.com/publications'

# Specify the folder for the files to be downloaded
folder_loc = r'/content/drive/MyDrive/Colab Notebooks/Diploma/Tools in Data Science/Premier_League'

# if not os.path.exists(folder_loc):
#     os.mkdir(folder_loc)

Actual Code

In [ ]:
response = requests.get(url)
soup = bs(response.text, 'html.parser')

# extract all tags that end in .pdf
for link in soup.select('a[href$=".pdf"]'):
    # Name of the file to be downloaded
    filename = os.path.join(folder_loc, link['href'].split('/')[-1])
    print(filename)
    with open(filename, 'wb') as f:
        f.write(requests.get(urljoin(url, link['href'])).content)

Read table from file and export it to PDF

In [49]:
import tabula
df = tabula.read_pdf(folder_loc + '/This-is-PL-Interactive-Combined.pdf', pages='18')
df

[                                           Unnamed: 0  ... Total payment
 0                                                 NaN  ...       £149.4m
 1                                                 NaN  ...       £149.8m
 2                                                 NaN  ...       £144.4m
 3                                                 NaN  ...       £145.9m
 4                                                 NaN  ...       £141.7m
 5                                                 NaN  ...       £142.0m
 6                                                 NaN  ...       £119.8m
 7                                                 NaN  ...       £128.0m
 8                                                 NaN  ...       £118.2m
 9                                               £100m  ...       £123.0m
 10                                                NaN  ...           NaN
 11                                                NaN  ...           NaN
 12                                     The amount the  ...       £114.3m
 13                                     Premier League  ...           NaN
 14                              invests per season in  ...       £111.2m
 15                                 the development of  ...           NaN
 16                              community facilities,  ...       £116.1m
 17          sports participation, Central payments to  ...           NaN
 18                community and schools clubs 2017/18  ...       £106.3m
 19  programmes, and to The collective and central ...  ...           NaN
 20  support the well-being Premier League markets ...  ...       £107.7m
 21                                of players in lower  ...           NaN
 22  make using these central payments, leagues. Th...  ...       £102.4m
 23  League also supports all of them to not only i...  ...           NaN
 24  the English Football talented players and faci...  ...       £107.2m
 25  League with a further also their local communi...  ...           NaN
 26        £100m per season of wider football pyramid.  ...        £98.5m
 27   Solidarity payments The income generated by fans  ...           NaN
 28                              and ring-fenced Youth  ...        £98.9m
 29  Development grants. watching compelling matche...  ...           NaN
 30                  the Premier League is what allows  ...        £94.7m

 [31 rows x 12 columns]]